{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}
{% block body %}
<div class="container mt-4 min-content">
    <h1>Vos Achats</h1>

     {% if items is empty %}
    <p><b>Votre panier est vide !!</b></p>
    {% else %}

    <a href="{{ path('panier_clear') }}" onclick="return confirm('Etes-vous sure de vouloir vider tout le panier ?');" class="btn btn-warning mb-2"><i class="fas fa-trash-alt me-1"></i> Supprimer vos articles</a>
       <a href="{{ path('page_gallerie', {id: 1})}}" class="btn btn-danger mb-2"> Continuez vos achats</a>       
    <table class="table table-dark table-striped"> 
     <table class="table table-light table-striped custom-table">

       <thead>
            <tr>
                <th scope="col">Vélo</th>
                <th scope="col">Model</th> 
                 {# <th scope="col">Catégorie</th>  #}
                 <th scope="col">Prix</th>
                <th scope="col">Quantité</th>
                <th scope="col">Total</th>
                <th>Actions</th> 
             </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
            <th scope="row"><img src="{{vich_uploader_asset(item.velos, 'imageFile')}} " class="card-img-top mt-1" style="width: 10rem; height: auto;"></th>        
                <td>{{ item.velos.model }}</td>
                 <td>{{ item.velos.prix }}€</td> 
                <td>
                    {{ item.quantite }} 
                     {# <a href="{{ path('ajouter_panier', {id: item.velos.id}) }}">
                     <button class="btn btn-primary btn-xs">
                     +
                     </button>
                    </a>
                      <a href="{{ path('enlever_panier', {id: item.velos.id}) }}">
                      <button class="btn btn-primary btn-xs">
                     -
                     </button>
                    </a> #}
                    <a href="{{ path("ajouter_panier", {id: item.velos.id})}}" class="btn btn-danger" target="_self">+</a>
                    <a href="{{path('enlever_panier', {id: item.velos.id})}}" class="btn btn-danger">-
                    </a>
                    
                </td>
                 <td>{{ item.velos.prix * item.quantite }} €</td> 
                
                <td>
                    <a class="btn btn-danger flex-shrink-0" onclick="return confirm('Suppimer cet élément du panier ?');" href="{{ path('panier_delete', {id: item.velos.id}) }}">
                        <i class="fas fa-trash-alt me-1"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot> 
            <tr>
                <td colspan="3">TOTAL</td>
                <td>{{ totalQuantity }}</td>
                <td>{{ total }}€</td>
                <td>
                    <form action="/checkout" method="POST">
                        <button type="submit" class="btn btn-primary">PAYER <strong>{{ total }}€</strong> </button>
                    </form>
                </td>
            </tr>
        </tfoot>
    </table>

    {% endif %}
</div>
{% endblock %} 
 




