{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

 {% if is_granted ('ROLE_USER') %} 
{# note below the app.user is a great advantage in the user table only that allows to recuper les donnes de user without creating a variable the require getrepository and mananger registry etc like other tables. #}
    <h1>Bienvenue {{ app.user.prenom|upper }}, ravi de vous revoir !</h1>
    {% endif %}

  <main>
    <div></div>
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="{{asset ('images/velos/image1.png')}}" class="d-block w-50 m-auto" alt="vélo électrique">
          </div>
          <div class="carousel-item">
              <img src="{{asset ('images/velos/image22.png')}}" class="d-block w-50 m-auto" alt="vélo électrique">
          </div>
          <div class="carousel-item">
              <img src="{{asset ('images/velos/image5.png')}}" class="d-block w-50 m-auto" alt="vélo électrique">
          </div>
          <div class="carousel-item">
              <img src="{{asset ('images/velos/image23.png')}}" class="d-block w-50 m-auto" alt="vélo électrique">
          </div>
          <div class="carousel-item">
              <img src="{{asset ('images/velos/image3.png')}}" class="d-block w-50 m-auto" alt="vélo électrique">
          </div>
          <div class="carousel-item">
              <img src="{{asset ('images/velos/image24.png')}}" class="d-block w-50 m-auto" alt="vélo électrique">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
      <section>
      {% if not is_granted('ROLE_USER') %}
      <h1>Bienvenue chez Vélocity</h1>
      {% endif %}
      <hr>
          <p>
            Bienvenue dans notre entreprise de vélos électriques spécialisé pour les femmes et les hommes à Paris ! Nous sommes ravis de vous accueillir et de vous offrir une expérience de cyclisme électrique de qualité. Que vous soyez un cycliste urbain chevronné ou que vous cherchiez simplement à vous déplacer rapidement et facilement dans la ville, nos vélos électriques sont conçus pour répondre à vos besoins.
            <br>
            Nous sommes fiers de proposer une large gamme de modèles, adaptés aux différentes morphologies et préférences de conduite. Notre équipe est composée de passionnés de cyclisme électrique, et nous sommes heureux de partager notre expertise avec vous.
            <br>
            Que ce soit pour un achat, un conseil ou une réparation, nous sommes là pour vous accompagner à chaque étape de votre parcours avec votre vélo électrique. Nous espérons que vous apprécierez votre expérience avec Vélocity. N'hésitez pas à nous contacter si vous avez des questions ou des commentaires - nous sommes là pour vous aider !
          </p>

<section class="container-fluid p-4" id="apropos">
  <div class="row text-center m-auto">
    <div class="col-6 d-none d-lg-block" data-aos="fade-right" data-aos-duration="2500">
      <img src="{{asset('images/velos/vélofemme.png')}}" id="portrait" class="w-100 rounded-5" style="height: 100%;" alt="une femme sur un vélo">    
    </div>
    <div class="col-6 d-none d-lg-block" data-aos="fade-left" data-aos-duration="2500">
      <img src="{{asset('images/velos/vélohomme.jpg')}}" id="portrait" class="w-100 h-auto rounded-5" alt="un homme sur un vélo">
    </div> 
  </div>
</section> 


{# note the commented code below is if i want the images to be fixed, ask for opinion to decide which one is better #}



    {# </section>
       <div class="container-fluid">
          <div class="row">
            <img src="{{asset ('images/vélofemme.png')}}" class="col-6 d-none d-lg-block rounded-5" alt="une Femme sur un vélo">
            <img src="{{asset ('images/vélohomme.jpg')}}" class="col-6 d-none d-lg-block rounded-5" alt="un homme sur un vélo">
          </div>
        </div>
    <section> #}
          <hr>
          <h2 class="fw-bold">Notre mission et nos valeurs</h2>
          <hr>
          <p>
            Notre mission est d'encourager les gens à utiliser des vélos électriques pour se rendre au travail et pour leurs déplacements quotidiens en ville, en évitant les embouteillages, en préservant l'environnement et en économisant de l'argent. Nous offrons également des services de réparation et d'entretien pour aider les propriétaires de vélos électriques à maintenir leurs vélos en bon état de fonctionnement.
            <br>
            Nous sommes fiers de notre service clientèle de qualité supérieure, notre personnel compétent est à l'écoute des besoins et des préoccupations de nos clients. Nous croyons que les vélos électriques sont une solution de mobilité pratique et efficace pour les citadins. Avec une assistance électrique, les cyclistes peuvent facilement parcourir de plus longues distances et gravir des pentes plus raides, tout en réduisant leur empreinte carbone et en économisant sur les coûts de carburant.
            <br>
            En résumé, nous sommes motivée par la promotion de solutions de mobilité écologiques, pratiques et efficaces pour les citadins, tout en offrant des services de qualité supérieure et un excellent service clientèle.
          </p>
    </section>
  </main>
{% endblock %}


{% block javascripts %}
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
  var image = document.getElementById("portrait");
  image.addEventListener("load", function() {
    image.classList.add("loaded");
  });  
</script>
{% endblock %}
